*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(181, 215, 228);
}

.container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

[class^="col-"] {
  float: left;
}

.row {
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.col-100 {
  width: 100%;
}

.col-20 {
  width: 20%;
}

.col-100 > h1 {
  margin: 20px 0;
  text-transform: uppercase;
  font-family: 'Delius Unicase', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: white;
}

.card {
  height: 140px;
  background-image: url('../img/pattern.png');
  background-size: contain;
  border-radius: 10px;
  margin: 10px 7px;

}

.special-card {
  height: 140px;
  background-image: url('../img/noun_air_balloon_3134741.png');
  background-size: contain;
  border-radius: 10px;
  margin: 10px 7px;
  position: relative;
  background-color: #fff;
  background-repeat: no-repeat;
}

.special-card > h2 {
  position: absolute;
  bottom: 10px;
  left: 25%;
  font-size: 15px;
  color: rgb(211, 55, 132);
}
