* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(181, 215, 228);
  font-family: 'Nerko One', sans-serif;
}

.container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

[class^="col-"] {
  float: left;
}

.row {

}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.col-100 {
  width: 100%;
}

.col-23 {
  width: 23%;
  margin: 2% 1%;
}

.col-100 > h1 {
  margin: 15px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 65px;
  color: white;
  text-shadow: 1px 1px 1px grey;
}

.card {
  height: 160px;
  background-image: url('../img/pattern.png');
  background-size: contain;
  border-radius: 10px;
  box-shadow: 1px 1px 1px grey;
}

 .special-card {
  height: 160px;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
  z-index: 0;
}

.special-card > .img-text > h2 {
  position: absolute;
  bottom: 10px;
  left: 16%;
  font-size: 20px;
  color: rgb(211, 55, 132);
  z-index: 1;
  text-shadow: 1px 1px 1px grey;
}

.baloon {
  width: 120px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.col-100 > h3 {
  font-size: 10px;
  margin: 15px 10px;
}

/* ---- Hover ---- */

.img-text:hover {
  display: none;
}

.hover-baloon:hover {
  height: 160px;
  background-image: url('../img/noun_air_balloon_3134741.png');
  background-size: contain;
  border-radius: 10px;
  background-color: #fff;
  background-repeat: no-repeat;
}

.hover-bycicle:hover {
  height: 160px;
  background-image: url('../img/noun_Bicycle_3134821.png');
  background-size: contain;
  border-radius: 10px;
  background-color: #fff;
  background-repeat: no-repeat;
}

.hover-cruise:hover {
  height: 160px;
  background-image: url('../img/noun_Cruise_Ship_3134824.png');
  background-size: contain;
  border-radius: 10px;
  background-color: #fff;
  background-repeat: no-repeat;
}

.hover-submarine:hover {
  height: 160px;
  background-image: url('../img/noun_Submarine_3134738.png');
  background-size: contain;
  border-radius: 10px;
  background-color: #fff;
  background-repeat: no-repeat;
}

.hover-tractor:hover {
  height: 160px;
  background-image: url('../img/noun_Tractor_3134797.png');
  background-size: contain;
  border-radius: 10px;
  background-color: #fff;
  background-repeat: no-repeat;
}

.hover-tram:hover {
  height: 160px;
  background-image: url('../img/noun_Tram_3134750.png');
  background-size: contain;
  border-radius: 10px;
  background-color: #fff;
  background-repeat: no-repeat;
}
